/*font families*/
@import url("https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /*font families*/
  --font-eagleLake: "Eagle Lake", serif;
  --font-macondo: "Macondo", serif;
  --font-marcellus: "Marcellus SC", serif;
  --font-work: "Work Sans", sans-serif;
  /*theme*/
  --color-bgMain: #eae6df;
  --color-bgSub: #d8d3ca;
  --color-accentGold: #c8a962;
  --color-accentStone: #64625d;
  --color-textMain: #2f2d2a;
  --color-textSoft: #4d4a46;
}
